<div class="row">
  <div class="col">
    <img height="200" width="350" src="https://q-cf.bstatic.com/images/hotel/max1024x768/681/68184730.jpg" />
  </div>
  <div class="col">
    <h5>{{hotel.name}}</h5>
    <estrellas [cantidad]="hotel.stars"></estrellas>
    <icon *ngFor="let amenity of hotel.amenities" [iconName]="amenity.name"></icon>
  </div>
  <div class="col">
    <p>Precio por noche por habitación</p>
    <h4>ARS</h4> <h3>{{hotel.price}}</h3>
    <button type="button" class="btn btn-primary">Ver hotel</button>
  </div>
</div>